# Don’t send junk to the Docker daemon
.git
.gitignore
.vscode
.idea
node_modules
**/__pycache__
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/.venv
**/venv
.env
.env.*
!.env.example
dist
build
.obsidian
